.container {
    margin-top: 50px;
    flex: 2;
    /* border-left: 1px solid var(--softBg);
    padding-left: 5px; */
}

.subTitle {
    color: gray;
    font-size: 18px;
    font-weight: 400;
}

.title {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 34px;
}

@media screen and (max-width: 1024px) {
    .container {
        display: none;
    }
}